/* h1{
    width: 100px;
    margin: auto;
    color: blue;
    background-color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#desc{
    width: 400px;
    margin: auto;
    color: blueviolet;
   
    font-family: 'Courier New', Courier, monospace;
}
.heading{
    width: 100px;
    margin: auto;
    color: gray;
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */ */
 /* font */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", serif;
}
.heading{
    font-size: 45px;
    color: blue;
    text-align: center;
    
 }
    /* icon */
 /* .house-icon{
    font-size: 50px;
    color: brown;
    margin: auto;
    
 } */
  /* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: sans-serif;/* optional  */
    
  }
  /* .box{
    width: 300px;
    height: 300px;
    background-color: aqua;
    color: blueviolet;
    border: 20px solid blue;
    padding: 10px;
   
  } */ */ */
  /* size Unit
   - px
   -%
   -rem : 1rem default=16px
   -vh : view height
   -vw : view width
   *{
   
  
