*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
.home-page{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(movie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navber ul li{
    display: flex;
    gap: 20px;
}